#level{
    margin-top:40px;
}
.carousel-item{
    background: #000;
    align-items: center;
    text-align: center;
    color: aliceblue;
}
.quit{
    /* margin: auto; */
    margin-top: 20px;
    margin-left: 47%;
}