#level{
    margin-top:40px;
}
.carousel-item{   
    align-items: center;
    text-align: center;
    color: #f0f8ff;
}
.carousel{
    margin-top:-50px;
}
.info{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.quit{
    /* margin: auto; */
    margin-top: 20px;
    margin-left: 47%;
}
.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
    font-family: cursive;
  }

input[type=text],input[type=number], select {
    width: 35%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  input[type=submit]{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }